* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  display: flex;
  width: 100%; }
  header .logo {
    border: 15px;
    padding: 15px;
    width: 150px; }
  header .logo:hover {
    transform: scale(1.2);
    transition: transform 300ms; }
  header .contenedor-logo {
    width: 100px;
    height: 100px; }
  header nav ul {
    width: 95%;
    padding: 0px;
    margin: 0px; }
  header .contenedor {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  header .barra-de-navegacion {
    border: solid black;
    background-color: rgba(34, 26, 71, 0.733);
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    text-align: left;
    list-style: none;
    font-size: 30px;
    max-width: 100%; }
  header .lista:hover {
    transform: scale(1.2);
    transition: transform 300ms; }
  header .lista {
    font-weight: bolder;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: white; }
  header .contenedor-busqueda {
    width: 50%; }
  header .contenedor-mobile {
    display: none; }
  header .busqueda {
    width: 40%;
    float: right; }

/* index */
.config {
  background-image: url(../../img/a.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-area: body;
  grid-template-rows: 1fr 620px 100px; }

.parrafo1 {
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 25px;
  border: 10px;
  color: black;
  font-size: 30px; }

.parrafo2 {
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 25px;
  border: 10px;
  color: black;
  font-size: 20px; }

/* novedades */
.background-img3 {
  background-image: url(../../img/16503593529199.jpg);
  background-size: cover;
  background-attachment: fixed; }

.estructura {
  margin-top: 10px;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .estructura .galeria1 {
    padding: 50px;
    flex-direction: column;
    grid-column: 1; }
  .estructura .galeria2 {
    padding: 50px;
    flex-direction: column;
    grid-column: 2; }
  .estructura .galeria3 {
    padding: 50px;
    flex-direction: column;
    grid-column: 3; }
  .estructura .fotos-autos {
    border: solid black;
    border-radius: 5%;
    width: 500px; }
  .estructura .nombre-autos {
    font-family: 'Kanit', sans-serif;
    color: #001780;
    color: solid;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline; }
  .estructura .lista-autos {
    font-family: 'Kanit', sans-serif;
    padding: 0px;
    color: black;
    font-weight: bolder;
    font-size: 20px; }
  .estructura .text {
    font-family: 'Kanit', sans-serif; }
  .estructura .info-autos {
    display: flex;
    border: solid black;
    border-radius: 5%;
    width: 600px;
    height: none;
    padding: 20px;
    margin: none;
    background-color: rgba(255, 255, 255, 0.61); }
  .estructura .fondo-texto {
    display: none; }
  .estructura .audi-oficial {
    text-decoration: none;
    list-style: none; }

.parrafo3 {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 90px;
  border: 10px;
  font-size: 40px; }

.parrafo4 {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 90px;
  border: 10px;
  font-size: 20px; }

/* galeria */
.config1 {
  background: #3a6186;
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);
  background: linear-gradient(to right, #89253e, #3a6186); }

/* servicio */
.config2 {
  background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-area: body;
  grid-template-rows: 1fr 620px 100px; }
  .config2 .servicios {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px; }
  .config2 .atencion-cliente {
    border: solid;
    display: block;
    margin: auto;
    grid-area: body;
    width: 100vh; }
  .config2 .atencion {
    text-align: center;
    gap: 10px;
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 20px; }
  .config2 .atencion-1 {
    font-size: 20px;
    padding-left: 30px;
    margin-top: 50px;
    font-family: sans-serif;
    color: white;
    font-weight: bolder; }
  .config2 .atencion-2 {
    padding-left: 30px;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 20px; }

/* formulario */
.config3 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background: #9CECFB;
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  display: grid;
  grid-area: body;
  grid-template-rows: 1fr 620px 100px; }

.cuadro-de-informacion {
  width: none;
  height: none;
  padding: 20px;
  margin: 20px;
  border: solid black;
  box-shadow: -10px -15px 20px 5px rgba(0, 0, 0, 0.466);
  border-radius: 2%;
  background-color: rgba(248, 247, 253, 0.705); }
  .cuadro-de-informacion .datos {
    font-size: x-large;
    font-weight: bolder; }
  .cuadro-de-informacion .letra {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

/* footer */
footer
.iconos {
  width: none;
  height: none;
  padding: 20px;
  margin: 20px;
  border: solid black;
  box-sizing: border-box;
  background-color: rgba(34, 26, 71, 0.733);
  display: flex;
  gap: 50px; }
  footer
.iconos .iconos:hover {
    transform: 1.1;
    transition: transform 500ms; }
  footer
.iconos .facebook:hover {
    transform: scale(1.3);
    transition: transform 100ms; }
  footer
.iconos .instagram:hover {
    transform: scale(1.3);
    transition: transform 100ms; }
  footer
.iconos .twitter:hover {
    transform: scale(1.3);
    transition: transform 100ms; }
  footer
.iconos .youtube:hover {
    transform: scale(1.3);
    transition: transform 100ms; }

/* bootstrap_galeria */
.modelo {
  border: #3d3d3d solid;
  width: 100vh;
  height: 65vh;
  top: 50%;
  left: 50%;
  margin: 0 auto; }

.custom-colors {
  color: white;
  font-weight: bolder; }
