* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  display: flex;
  width: 100%; }
  header .logo {
    border: 15px;
    padding: 15px;
    width: 150px; }
  header .logo:hover {
    transform: scale(1.2);
    transition: transform 300ms; }
  header .contenedor-logo {
    width: 100px;
    height: 100px; }
  header nav ul {
    width: 95%;
    padding: 0px;
    margin: 0px; }
  header .contenedor {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  header .barra-de-navegacion {
    border: solid black;
    background-color: rgba(34, 26, 71, 0.733);
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    text-align: left;
    list-style: none;
    font-size: 30px;
    max-width: 100%; }
  header .lista:hover {
    transform: scale(1.2);
    transition: transform 300ms; }
  header .lista {
    font-weight: bolder;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: white; }
  header .contenedor-busqueda {
    width: 50%; }
  header .contenedor-mobile {
    display: none; }
  header .busqueda {
    width: 40%;
    float: right; }

/* index */
.config {
  background-image: url(../../img/a.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-area: body;
  grid-template-rows: 1fr 620px 100px; }

.parrafo1 {
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 25px;
  border: 10px;
  color: black;
  font-size: 30px; }

.parrafo2 {
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 25px;
  border: 10px;
  color: black;
  font-size: 20px; }

/* novedades */
.background-img3 {
  background-image: url(../../img/16503593529199.jpg);
  background-size: cover;
  background-attachment: fixed; }

.estructura {
  margin-top: 10px;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .estructura .galeria1 {
    padding: 50px;
    flex-direction: column;
    grid-column: 1; }
  .estructura .galeria2 {
    padding: 50px;
    flex-direction: column;
    grid-column: 2; }
  .estructura .galeria3 {
    padding: 50px;
    flex-direction: column;
    grid-column: 3; }
  .estructura .fotos-autos {
    border: solid black;
    border-radius: 5%;
    width: 500px; }
  .estructura .nombre-autos {
    font-family: 'Kanit', sans-serif;
    color: #001780;
    color: solid;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline; }
  .estructura .lista-autos {
    font-family: 'Kanit', sans-serif;
    padding: 0px;
    color: black;
    font-weight: bolder;
    font-size: 20px; }
  .estructura .text {
    font-family: 'Kanit', sans-serif; }
  .estructura .info-autos {
    display: flex;
    border: solid black;
    border-radius: 5%;
    width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.61); }
  .estructura .fondo-texto {
    display: none; }
  .estructura .audi-oficial {
    text-decoration: none;
    list-style: none; }

.parrafo3 {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 90px;
  border: 10px;
  font-size: 40px; }

.parrafo4 {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  padding-left: 90px;
  border: 10px;
  font-size: 20px; }

/* galeria */
.config1 {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); }

/* servicio */
.config2 {
  background-image: url(./img/AUDI-E-TRON-GT-4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

/* formulario */
.background-img2 {
  width: 100%;
  height: 100%;
  background: #ED213A;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  background: linear-gradient(to right, #93291E, #ED213A);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

/* footer */
footer
.iconos {
  border: solid black;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  background-color: rgba(34, 26, 71, 0.733);
  display: flex;
  gap: 50px; }
  footer
.iconos .iconos:hover {
    transform: 1.1;
    transition: transform 500ms; }
  footer
.iconos .facebook:hover {
    transform: scale(1.3);
    transition: transform 100ms; }
  footer
.iconos .instagram:hover {
    transform: scale(1.3);
    transition: transform 100ms; }
  footer
.iconos .twitter:hover {
    transform: scale(1.3);
    transition: transform 100ms; }
  footer
.iconos .youtube:hover {
    transform: scale(1.3);
    transition: transform 100ms; }

.modelo {
  width: 100vh;
  height: 65vh;
  top: 50%;
  left: 50%;
  margin: 0 auto; }

.custom-colors {
  color: white;
  font-weight: bolder; }
