@import "./base/reset";
@import "./layout/header";
@import "./layout/body-index";
@import "./layout/main-index";
@import "./layout/body-novedades";
@import "./layout/main-novedades";
@import "./layout/body-galeria";
@import "./layout/body-servicio-al-cliente";
@import "./layout/body-formulario";
@import "./layout/footer";
