*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    flex-direction: column;
}

header{
    display: flex;
    width: 100%;
}


.footer1{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 550px;
}

.logo:hover{
    transform: scale(1.2);
    transition: transform 300ms;
}

.logo{
    border: 15px;
    padding: 15px;
    width: 100px;
    
}

nav ul{
    width: 95%;
    padding: 0px;
    margin: 0px;
}

.contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
}

.barra-de-navegacion{
    border: solid black;
    background-color: rgba(34, 26, 71, 0.733);
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 30px;
    text-align: left;
    list-style: none;
    font-size: 30px;
    max-width: 100%;
}

.lista:hover{
    color: white;
    transform: scale(1.2);
    transition: transform 300ms;
}


.lista{
    font-weight: bolder;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: white;
}


.background-img{
    background-image: url(./img/a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.parrafo1{
    font-family: sans-serif;;
    font-weight: bolder;
    padding-left: 25px;
    border: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.parrafo2{
    font-family: sans-serif;;
    font-weight: bolder;
    padding-left: 25px;
    border: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.iconos:hover{
    transform: 1.1;
    transition: transform 500ms;
}

.facebook:hover{
    transform:scale(1.3) ;
    transition: transform 100ms;
}

.instagram:hover{
    transform:scale(1.3) ;
    transition: transform 100ms;
}

.twitter:hover{
        transform:scale(1.3) ;
        transition: transform 100ms;
    }

.youtube:hover{
    transform:scale(1.3) ;
    transition: transform 100ms;
}

.iconos{
    border: solid black;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.733);
    display: flex;
    gap: 50px;
}

.contenedor-busqueda{
    width: 50%;
}

.contenedor-mobile{
    display: none;
}

.busqueda{
    width: 40%;
    float: right;
}

@media (max-width:768px) {
    .background-img{
        background-image: url(./img/fondo-tablet.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .contenedor{
        display: flex;
    }

    
    .barra-de-navegacion{
        display: none;
    }

    .parrafo1{
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 90px;
        border: 5px;
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin-top: 10px;
    }

    .parrafo2{
        margin-top: 30px;
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 90px;
        border: 5px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .contenedor-busqueda{
        display: none;
    }

    .logo{
        margin-left: 70px;
        size: 50px;
    }

    .contenedor-mobile{
        display: flex;
        box-sizing: border-box;
        width: 70px;
        height: 100%;
        padding-right: 0%;
    }

    .container-fluid{
        position: absolute;
        top: 40px; right: 5px;
    }

    .buscar-mobile{
        width: 300px;
    }

    .footer1{
        margin-top: 600px;
        margin-left: 70px;
    }
}


@media (max-width:576px) {
    .background-img{
        background-image: url(./img/fondo-celular.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .contenedor{
        display: flex;
    }

    .barra-de-navegacion{
        display: none;
    }

    .parrafo1{
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 90px;
        border: 5px;
        color: black;
        font-size: 20px;
        margin-top: 10px;
    }

    .parrafo2{
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 90px;
        border: 5px;
        color: black;
        font-size: 15px;
    }

    .contenedor-busqueda{
        display: none;
    }

    .logo{
        margin-left: 70px;
        size: 50px;
    }

    .contenedor-mobile{
        display: flex;
        box-sizing: border-box;
        width: 70px;
        height: 100%;
        padding-right: 0%;
    }

    .container-fluid{
        position: absolute;
        top: 40px; right: 5px;
    }

    .buscar-mobile{
        width: 300px;
    }

    .footer1{
        margin-left: 70px;
    }
}


/* lo que sigue forma parte de la seccion de formulario, pero algunas etiquetas de 
arriba tambien forman parte de las demas secciones, solo que comparten la class*/

.footer2{
    margin-top: 200px;
}

.background-img2{
    width: 100%;
    height: 100%;
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.cuadro-de-informacion{
    border: solid rgb(0, 0, 0);
    box-shadow: -10px -15px 20px 5px rgba(0, 0, 0, 0.466);
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(248, 247, 253, 0.705);
}

.cuadro-de-informacion1{
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.507);
}

.cuadro-de-informacion2{
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.507);
}

.cuadro-de-informacion3{
    margin: 20px;
    padding: 20px;
    background-color: rgba(34, 26, 71, 0.507);
}

.datos{
    font-size: x-large;
    font-weight: bolder;
}

.letra{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*seccion de novedades*/
@media (min-width:1200px) {
    .estructura{
        margin-top: 10px;
        grid-area: main;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria1{
    padding: 50px;
    flex-direction: column;
    grid-column: 1;
}

.galeria2 {
    padding: 50px;
    flex-direction: column;
    grid-column: 2;
}

.galeria3{
    padding: 50px;
    flex-direction: column;
    grid-column: 3;
}

.fotos-autos{
    border: solid black;
    border-radius: 5% 5% 5% 5%;
    width: 500px;
}

.nombre-autos{
    font-family: 'Kanit', sans-serif;
    color: rgb(0, 23, 128); color: solid;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}

.lista-autos{
    font-family: 'Kanit', sans-serif;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
}

.text{
    font-family: 'Kanit', sans-serif;
}

.background-img3{
    background-image: url(./img/16503593529199.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.info-autos{
    display: flex;
    border: solid black;
    border-radius: 5%;
    width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.61);
}

.parrafo3{
    color: white;
    font-family: sans-serif;;
    font-weight: bolder;
    padding-left: 90px;
    border: 10px;
    font-size: 40px;
}

.parrafo4{
    color: white;
    font-family: sans-serif;;
    font-weight: bolder;
    padding-left: 90px;
    border: 10px;
    font-size: 20px;
}

.fondo-texto{
    display: none;
}

.audi-oficial{
    text-decoration: none;
    list-style: none;
}

@media (max-width:576px) {
    .estructura{
        margin-left: 90px;
    }

    .info-autos{
        margin-bottom: 10px;
    }

    .fotos-autos{
        border: solid black;
        border-radius: 5% 5% 5% 5%;
        max-width: 350px;
    }

    footer{
        margin-left: 70px;
    }

    .btn-close{
        position: absolute;
        right: 60px;
    }

}

@media (max-width:768px) {
    .estructura{
        margin-left: 100px;
    }

    .info-autos{
        margin-bottom: 20px;
    }

    footer{
        margin-left: 90px;
    }

    .btn-close{
        position: absolute;
        right: 60px; top: 25px;
    }

}


/*galeria*/

.background-img4{
    background-image: url(./img/audi-rs-3-lms-2021-1612611443.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.grid-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}

.cajas{
    grid-area: header;
}

.box-1{
    width: 100%;
    grid-column: 1/ 4;
    grid-row: 1/ 2;
}

.box-2 .modelo1{
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 10%;
}

.box-3 .modelo2{
    margin-top: 60px;
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 10%;
}

.box-4 .modelo3{
    margin-top: 60px;
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 10%;
}

.box-5 .modelo4{
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 10%;
}

.box-6 .modelo5{
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 10%;
}

.box-7 .modelo6{
    width: 500px;
    height: 300px;
    border: solid black;
    border-radius: 10%;
}

.info-modelos{
    font-family: sans-serif;;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}

.galeria{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.enlace-a-info-autos{
    font-family: sans-serif;;
    color: black;
    font-weight: bolder;
    font-size: 50px;
}

/*servicio al cliente*/
*{
    margin: 0;
    padding: 0;
}

.pag-servicio{
    margin-top: 100px;
}

.background-img5{
    background-image: url(./img/AUDI-E-TRON-GT-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.servicios{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
}

.atencion{
    text-align: center;
    gap: 10px;
    font-family: sans-serif;;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 30px;
}

.atencion-1{
    font-size: 20px;
    padding: 30px;
    margin-top: 50px;
    gap: 10px;
    font-family: sans-serif;;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.atencion-2{
    padding: 30px;
    gap: 10px;
    font-family: sans-serif;;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
}

aside{
    margin-top: 0%;
    box-sizing: border-box;
    text-align: right;
    font-size: 20px;
    color: rgb(0, 255, 200);
    font-weight: bolder;
}