/* formulario */
.background-img2{
    width: 100%;
    height: 100%;
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}