/* servicio */
.background-img5{
    background-image: url(./img/AUDI-E-TRON-GT-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}