/* formulario */
    .config3{
    @include props-body;
    background: #9CECFB;
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); 
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); 
    display: grid;
    grid-area: body;
    grid-template-rows: 1fr 620px 100px;
    
}