/* footer */
footer
    .iconos{
    @include medidas(none, none, 20px, 20px);
    border: solid black;
    box-sizing: border-box;
    background-color: rgba(34, 26, 71, 0.733);
    display: flex;
    gap: 50px;
    .iconos:hover{
        transform: 1.1;
        transition: transform 500ms;
    }
    .facebook:hover{
        @include props-icon;
    }
    .instagram:hover{
        @include props-icon;
    }
    .twitter:hover{
        @include props-icon;
        }
    .youtube:hover{
        @include props-icon;
    }
}