header{
    display: flex;
    width: 100%;
        .logo{
            border: 15px;
            padding: 15px;
            width: 150px;
        }
        .logo:hover{
            transform: scale(1.2);
            transition: transform 300ms;
        }
        .contenedor-logo{
            width: 100px;
            height: 100px;
        }
        nav ul{
            width: 95%;
            padding: 0px;
            margin: 0px;
        }
        .contenedor{
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        .barra-de-navegacion{
            border: solid black;
            background-color: rgba(34, 26, 71, 0.733);
            margin: 20px;
            padding: 20px;
            display: flex;
            gap: 30px;
            text-align: left;
            list-style: none;
            font-size: 30px;
            max-width: 100%;
        }
        .lista:hover{
            transform: scale(1.2);
            transition: transform 300ms;
        }
        .lista{
            font-weight: bolder;
            font-family: 'Noto Sans Mono', monospace;
            font-family: 'Poppins', sans-serif;
            display: flex;
            list-style: none;
            text-decoration: none;
            text-align: left;
            color: white;
        }
        .contenedor-busqueda{
            width: 50%;
        }
        
        .contenedor-mobile{
            display: none;
        }
        
        .busqueda{
            width: 40%;
            float: right;
        }
}

